/*
 *Fonts
 */
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;


/*
 * Global Styles 
 * */
.wrapper{
    max-width: 1200px;
    width: 95%;
    margin: auto;
    position: relative;
    @apply py-20;
}
body{
    @apply bg-dark text-yellow font-mont;
}
p{
    @apply text-base font-medium tracking-widest font-dosis;
}
